<main class="flex">
<article class="temperatures">
    <header>
        <img width="50px" src="assets/images/temp-icon.png" alt="temp-img"/>
        <div>
            <h2>Current Temperatures</h2>
            <p>
                {{date | date:'medium' }}
            </p>
            
        </div>
    </header>
    
    <div class="content">
                <p>
                New York : {{currentTemperatures.newYork |convert:'feh':'cel'}}
            </p>
            <p>
                Berlin:{{currentTemperatures.berlin | convert:'cel'}}
            </p>
            <p>
                Paris:{{currentTemperatures.paris  |convert:'feh'}}
            </p>
            <p>
                chicage:{{currentTemperatures.chicago | convert:'cel'}}
            
            </p>
    
    </div>

</article>
<article class="temperatures">
     <header>
        <img width="50px" src="assets/images/temp-icon.png" alt="temp-img"/>
        <div>
            <h2>Historic Temperatures</h2>
            <p>
                Berlin
            </p>
        </div>
    </header>
    @for (temp of historicTemperatures | sort:'asc'; track $index) {
        <p>{{temp | convert:'cel'}}</p>
    }
</article>
</main>